$primary-Cyan: hsl(179, 62%, 43%);
$primary-Bright-Yellow: hsl(71, 73%, 54%);
$neutral-Light-Gray: hsl(204, 43%, 93%);
$neutral-Grayish-Blue: #858585;
$font-size-title:1.6rem;
* {
   margin: 0;
   padding: 0;
}

html {
   font-size: 62.5%;
}

.content-container {
   width: 80%;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: start;
   height: 120px;
   padding-bottom: 80px;

   h2 {
      text-align: left;
      font-family: 'Karla', sans-serif;
      font-size: $font-size-title;
      color: $primary-Cyan;
      padding: 7px;
   }

   h3 {
      @extend h2;
      color: $primary-Bright-Yellow
   }

   article {
      @extend h3;
      color: $neutral-Grayish-Blue;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.4;
   }
}

.wrapper {
   display: grid;
   grid-template-columns: 2fr;
   height: 100%;
   width: 100%;

   .Subscription-section {
      grid-row: 1;
   }
   
   .Why-Us-section {
      grid-row: 2;
   }
}

.Subscription-container{
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: left;
   background-color: $primary-Cyan;

      h3{
         font-size: $font-size-title;
         color: $neutral-Light-Gray;
      }
      p{
         font-weight: 700;
         font-size: 1.5rem;
      }
      .price{
         font-size: 1.8rem;
         color:$neutral-Light-Gray;
      }
      .price-frase{
         color: $neutral-Grayish-Blue;
      }
}
