$primary-Cyan: hsl(179, 62%, 43%);
$primary-Bright-Yellow: hsl(71, 73%, 54%);
$neutral-Light-Gray: hsl(204, 43%, 93%);
$neutral-Grayish-Blue: hsl(218, 22%, 67%);
$font-size-title: 1.6rem;
$color-text-secondary: #a6ebed;
$background-color-secondary: #4abebd;

* {
   margin: 0;
   padding: 0;
}

html {
   font-size: 62.5%;
}

body{
   font-family: 'Karla', sans-serif;
   background-color: #D3DEEF;
}


@media only screen and (min-width: 180px)and (max-width: 680px) {
.content-container {
   width: 74%;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: center;
   height: 120px;
   padding-bottom: 90px;
   padding-top: 10px;
   background-color: white;
   border-radius: 20px;
   h2 {
      font-size: $font-size-title;
      color: $primary-Cyan;
      padding: 7px;
   }

   h3 {
      font-size: $font-size-title;
      color: $primary-Bright-Yellow;
      padding: 7px;
   }

   article {
      color: $neutral-Grayish-Blue;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.4;
   }
}



.Subscription-container {
   height: 220px;
   width: 75%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: left;
   background-color: $primary-Cyan;

   h3 {
      font-size: $font-size-title;
      color: $neutral-Light-Gray;
      padding-top: 10px;
      margin: 10px;
   }

   p {
      font-weight: bold;
      font-size: 1.5rem;
      color: $color-text-secondary;
      padding-bottom: 20px;
      margin: 5px;
      padding-left: 10px;
   }

   .price {
      font-size: 2.2rem;
      color: $neutral-Light-Gray;
   }

   .price-frase {
      color: $neutral-Light-Gray;
      font-weight: bold;
   }

   .button-p {
      font-size: 1.6rem;
      background-color: $primary-Bright-Yellow;
      width: 55vw;
      padding: 15px;
      color: white;
      margin: 0 auto;
      text-align: center;

      &:hover {
         transform: scale(1.1);
      }
   }
}

.why-us-container {
   height: 380px;
   width: 75%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: left;
   background-color: $background-color-secondary;

   h3 {
      font-size: $font-size-title;
      color: $neutral-Light-Gray;
      padding-top: 5px;
      margin: 10px;
   }

   article {
      font-weight: 700;
      line-height: 1.1;
      margin: 10px;
      color: $color-text-secondary;
      font-size: 1.7rem
   }
}

;

footer {
   padding: 30px;
   margin-top: 20px;
   font-size: 1.4rem;
   }
}


@media only screen and (min-width: 680px)and (max-width: 1920px) {
   .content-container {
   width: 40%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;  
   justify-content: flex-start;
   align-items:  flex-start;
   height: 120px;
   padding-bottom: 30px;
   padding-top: 10px;
   background-color: white;
   h2 {
      font-size: $font-size-title;
      color: $primary-Cyan;
      padding: 7px;
      margin-left: 29px;
   }
   h3 {
      font-size: $font-size-title;
      color: $primary-Bright-Yellow;
      margin-left: 33px;
   }
   article {
      color: $neutral-Grayish-Blue;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 0.9;
      margin-left: 35px;
   }
}

.wrapper {
   display: grid;
   grid-template-columns: 50% 50%;
}

.Subscription-container{
   height: 230px;
   width: 40%;
   display: flex;
   margin-left: auto; 
   flex-direction: column;
   justify-content: flex-start;
   align-items:  flex-start;
   background-color: $primary-Cyan;
   h3 {
      font-size: $font-size-title;
      color: $neutral-Light-Gray;
      padding-top: 10px;
      margin: 5px;
      margin-left: 35.7px;
   }

   p {
      font-weight: bold;
      font-size: 1.5rem;
      color: $color-text-secondary;
      padding-bottom: 20px;
      margin: 5px;
      margin-left:  35.7px;
   }

   .price {
      font-size: 2.2rem;
      color: $neutral-Light-Gray;
   }

   .price-frase {
      color: $neutral-Light-Gray;
      font-weight: bold;
   }

   .p-info{
      margin-left: 39.7px;
   }

   .button-p {
      font-size: 1.6rem;
      background-color: $primary-Bright-Yellow;
      width: 13vw;
      padding: 15px;
      color: white;
      margin: 0 auto;
      text-align: center;

      &:hover {
         transform: scale(1.1);
      }
   }
   
}

.why-us-container {
   height: 230px;
   width: 39.6%;
   display: flex;
   flex-direction: column;
   text-align: flex-start;
   margin-right: auto; 
   padding-right: 2px;
   background-color: $background-color-secondary;

   h3 {
      font-size: $font-size-title;
      color: $neutral-Light-Gray;
      padding-top: 10px;
      margin: 10px;
   }

   article {
      font-weight: 700;
      line-height: 0.6;
      margin: 10px;
      color: $color-text-secondary;
      font-size: 15.7px;
   }
}
footer {
   padding: 20px;
   margin-top: 10px;
   .attribution{
      font-size: 16px;
   }
   }
}

@media only screen and (min-width: 680px)and (max-width: 1000px){
   .content-container {
      width: 45%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;  
      justify-content: flex-start;
      align-items:  flex-start;
      height: 170px;
      padding-bottom: 30px;
      padding-top: 10px;
      background-color: white;
}
.Subscription-container{
   height: 280px;
   width: 45%;
   display: flex;
   margin-left: auto; 
   flex-direction: column;
   justify-content: left;
   align-items:  left;
   text-align: left;
   background-color: $primary-Cyan;
   
   .button-p {
      font-size: 1.6rem;
      background-color: $primary-Bright-Yellow;
      width: 9vw;
      padding: 15px;
      color: white;
      text-align: center;
      margin-left: 45px;
   
      &:hover {
         transform: scale(1.1);
      }
   }
}

.why-us-container {
   height: 280px;
   width: 45%;
   display: flex;
   flex-direction: column;
   text-align: flex-start;
   margin-right: auto; 
   padding-right: 2px;
   background-color: $background-color-secondary;
   article {
      font-weight: 700;
      line-height: 0.7;
      margin: 10px;
      color: $color-text-secondary;
      font-size: 15.7px;
   }
}
}